<div class="col-md-6 col-sm-8 co-12 offset-md-3 offset-sm-2 my-4">
  <p class="text-alert mt-3">Attention ! En plus du dossier qu'on te permet de créer via cette Web-Application il faudra également que tu fournisses à Pôle-Emploi une attestation employeur (de ton ancien employeur) et le certificat d'accomplissement de ton V.I</p>
  <h1 class="text-center">Remplis les infos</h1>
  <%= simple_form_for [@info, @document] do |f| %>
    <%= f.input :first_name, label: "Ton prénom" %>
    <%= f.input :last_name, label: "Ton nom" %>
    <%= f.input :company, label: "La boite dans laquelle tu as effectué ton V.I" %>
    <%= f.input :work, label: "Énoncé de ton poste" %>
    <%= f.input :work_type, collection: Document::WORK_TYPE, label: "Type de contrat" %>
    <%= f.input :start_date, label: "Date à laquelle tu as commencé ton V.I", as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, label: "Date à laquelle tu as terminé ton V.I", as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :old_company, label: "Ton dernier employeur avant ton V.I" %>
    <%= f.input :old_work, label: "Intitulé de ton ancien poste" %>
    <%= f.input :old_start_date, label: "Date de début de ton ancien poste", as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :old_end_date, label: "Date de fin de ton ancien poste", as: :string, required: false, input_html: {class: "datepicker"}%>
    <% if @info.unemployment == "Oui" %>
      <%= f.input :start_unemployment_at, label: "Date de début de ton chomage", as: :string, required: false, input_html: {class: "datepicker"}%>
    <% end %>
    <div class="text-center"> Si besoin, tu peux ajouter un ou plusieurs emplois (CDD, intérim ..) en plus de ton dernier emploi </div>
    <div class="text-center">
      <button type="button" class="btn-add mb-3" data-toggle="modal" data-target="#jobModal">
        +
      </button>
    </div>
    <% unless @info.jobs.empty?  %>
      <div class="container-other-jobs mb-3">
        <div class="title-other-jobs">Autres(s) emploi(s) :</div>
        <% @info.jobs.each do |job| %>
          <div class="card-job d-flex">
            <%= job.company %> - <%= job.work %> - <%= job.start_at %> / <%= job.end_at %>
            <%= link_to info_job_path(@info, job), method: :delete, data: { confirm: "Supprimer ce travail ?" }, class: "icon-trash ml-3 mt-1" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="text-center">
      <%= f.submit "Gratte ton chômage !", class: "btn-submit" %>
    </div>
  <% end %>
  <div class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="jobModalLabel" aria-hidden="true">
    <%= render 'documents/modal_job' %>
  </div>
</div>
