
<div class="page-container content">
  <img src="/assets/form-img.png" alt="" class="first-form-img">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="first-form m-3">
      <h1 class="text-center">Quelques petites infos avant de commencer</h1>
      <br>
      <%= simple_form_for @info, url: infos_path do |f| %>
        <%= f.input :work, collection: Info::REPONSE, as: :radio_buttons, label: "As-tu travaillé au moins 6 mois en France (stage non-compris) lors des deux années qui ont précédé ton VI ?" %>
        <%= f.input :unemployment, collection: Info::REPONSE, as: :radio_buttons, label: "As-tu touché le chômage entre la fin de ton dernier contrat et le début du VI ?" %>
        <span id="collapse_section" class="d-none">
          <%= f.input :days_unemployment, label: "Quelle était la durée totale de cette allocation chômage ? (entre 130 et 730 jours)", input_html: { min: '130', max: '730, 'step: 'any' %>
        </span>
        <div class="text-center mb-3">
          <%= f.submit "Gratte ton chômage !", class: "btn-submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
